@import 'mixin';
@import 'variables';

body{
    font-family: 'Lato', sans-serif;
}
 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.h-white{
	color: $bg-color-white;
	font-family: 'oswald' , sans-serif;
	font-weight: bold;
}
.tetx-p{
	color: $bg-color-title-p;
}
.pd-left{
	padding-left: 0;
}
.pd-right{
	padding-right: 0;
}
.form-control{
	font-style: italic;
}
#content-contact-us{
	margin-top: 5em;
	margin-bottom: 4em;
	.content-us-title{
		margin-bottom: 4em;
		.breadcrumb{
			@include breadcrumb();
		}
	}
	.send-us{
		h3{
			font-family: 'Oswald' , sans-serif;
			font-weight: bold;
			padding-bottom: 1em;
			margin-bottom: 1em;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				border-bottom: 3px solid $bg-color-black;
				bottom: 0;
				left: 0;
				width: 5%;
			}
		}
		button{
			padding: 0.8em 1.8em;
			border-radius: 0.3em;
		}
	}
	.get-office{
		@extend .send-us;
		h3:before {
			width: 9%;
		}
		p{
			font-style: italic;
			font-size: 14px;
			color: $bg-color-hv-menu;
		}
		.contact{
			ul{
				list-style: none;
				padding-left: 0;
				li{
					padding-bottom: 1em;
					i{
						font-size: 30px;
						color: $bg-color-main;
						padding-right: 1em;
						width: 13%;
					}
					span{
						font-family: 'Montserrat' , sans-serif;
						font-weight: bold;
						font-size: 14px;
					}
					p{
						padding-left: 3.5em;
						font-size: 13.94px;
						margin-top: 1em;
					}
				}
			}
		}
	}
	textarea{ height: 127px; } 
}
#map{
	margin-top: 80px;
	margin-bottom: 108px;
	height: 590px;
}